<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PianoLab" >

        <activity
            android:name="com.example.pianolab.feature.home.view.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.pianolab.feature.beat.view.BeatActivity"
            android:exported="false"
        android:parentActivityName="com.example.pianolab.feature.home.view.HomeActivity">
        <!-- 可选：指定父Activity（按返回键时回到HomeActivity） -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.pianolab.feature.home.view.HomeActivity" />
    </activity>

        <activity
            android:name="com.example.pianolab.feature.virtual_piano.view.VirtualPianoActivity"
            android:exported="false"
            android:theme="@style/Theme.PianoLab.Tool"
            android:parentActivityName="com.example.pianolab.feature.home.view.HomeActivity" />

        <activity
            android:name="com.example.pianolab.feature.tuner.view.TunerActivity"
            android:exported="false"
            android:theme="@style/Theme.PianoLab.Tool"
            android:parentActivityName="com.example.pianolab.feature.home.view.HomeActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pianolab.feature.home.view.HomeActivity" />
        </activity>

        <activity
            android:name="com.example.pianolab.feature.chord.view.ChordActivity"
            android:exported="false"
            android:theme="@style/Theme.PianoLab.Tool"
            android:parentActivityName="com.example.pianolab.feature.home.view.HomeActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pianolab.feature.home.view.HomeActivity" />
        </activity>


        <!-- //TODO 后续功能模块添加后记得更新配置文件-->


    </application>

</manifest>